<ul id="cartoes">
      <li *ngFor="let cartao of cartoes">
          <mat-card class="example-card">
          <img mat-card-image src="{{cartao.images[1].url}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <mat-card-title>{{(cartao.name).split(' ')[0]}} {{(cartao.name).split(' ')[1]}}</mat-card-title>
              <mat-card-subtitle>{{cartao.name}}</mat-card-subtitle>
              <p>
                Data lançamento <b>{{cartao.release_date}}</b>
              </p>
          </mat-card-content>
        </mat-card>
    </li>
</ul>