/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html, body{
    padding: 0px;
    margin: 0px;
}

.font-google{
    font-family: 'Nunito', sans-serif;
    color: #868686;
    font-size: 30px;
    padding: 14px 15px;
    text-align: center;
}

